<app-menu></app-menu>
<div>
    <span id="pageTitle">RequestLine</span> 
</div>
<table class="table table-sm" *ngIf="req">
    <thead>
        <tr>
            <th>Id</th>
            <th>Description</th>
            <th>Status</th>
            <th>Total</th>
            <th>Username</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{req.id}}</td>
            <td>{{req.description}}</td>
            <td>{{req.status}}</td>
            <td>{{req.total | currency}}</td>
            <td>{{req.user.username}}</td>
            <td><button (click)="approve()" class="btn btn-link clickable">Approve</button>
            <button (click)="reject()" class="btn btn-link clickable">Reject</button></td>
        </tr>
           
       
    </tbody>
</table>
<div *ngIf="req"> 
    <span id="pageTitle">RequestLine</span> 
</div>
<table class="table table-sm" *ngIf="req">
    <thead>
        <tr>
            <th>Id</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>LineTotal</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody *ngIf="req">
        <tr *ngFor="let r of req.requestLines">
            <td>{{r.id}}</td>
            <td>{{r.product.name}}</td>
            <td>{{r.quantity}}</td>
            <td>{{r.product.price | currency}}</td>
            <td>{{r.product.price * r.quantity | currency}}</td>
        </tr>
    </tbody>
</table>