<app-menu></app-menu>
<div>
    <span id="pageTitle">User List</span>
    <a routerLink="/user/create"> New</a>
</div>
<table class="table table-sm">
    <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Password</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Reviewer</th>
            <th>Admin</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let u of users">
            <td>{{u.id}}</td>
            <td>{{u.username}}</td>
            <td>{{u.password}}</td>
            <td>{{u.firstname + " "+ u.lastname}}</td>
            <td>{{u.phone}}</td>
            <td>{{u.email}}</td>
            <td>{{u.isReviewer | boolDisplay}}</td>
            <td>{{u.isAdmin | boolDisplay}}</td>
            <td>
                <a routerLink="/user/detail/{{u.id}}">Detail |</a>
                <a routerLink="/user/edit/{{u.id}}">Edit</a>
            </td>
        </tr>
    </tbody>
</table>